{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h4 class="card-title">Edit Comment:</h4>
            <form method="POST">
                <div class="form-group">
                    Subject:
                    <br>
                    <input type="text" name="title" value="{{title}}">
                    <br>
                    Blog Post:
                    <br>
                    <textarea type="content" class="form-control content-box" name="content">{{content}}</textarea>
                </div>
                <div class="error">{{error}}</div>
                <input type="submit" class="btn btn-outline-primary pb-8">
            </form>
        </div>
    </div>

{% endblock %}